apiVersion: v1
kind: ServiceAccount
metadata:
  name: thehangingpen
  # replace with namespace where provisioner is deployed
  namespace: thehangingpen
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thehangingpen-cluster-role
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "update", "patch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thehangingpen-binding
subjects:
  - kind: ServiceAccount
    name: thehangingpen
    # replace with namespace where provisioner is deployed
    namespace: thehangingpen
roleRef:
  kind: ClusterRole
  name: thehangingpen-cluster-role
  apiGroup: rbac.authorization.k8s.io
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thehangingpen
  # replace with namespace where provisioner is deployed
  namespace: thehangingpen
rules:
  - apiGroups: [""]
    resources: ["endpoints", "services", "pods", "deployments", "configmaps", "secrets"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: thehangingpen
  # replace with namespace where provisioner is deployed
  namespace: thehangingpen
subjects:
  - kind: ServiceAccount
    name: thehangingpen
    # replace with namespace where provisioner is deployed
    namespace: thehangingpen
roleRef:
  kind: Role
  name: thehangingpen
  apiGroup: rbac.authorization.k8s.io