apiVersion: v1
kind: Namespace
metadata:
  name: {{ app.simpleApiServer.namespace }}
  labels:
    kubernetes.io/metadata.name: "{{ app.simpleApiServer.namespace }}"
    shared-gateway-access: "true"
