kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ app.simpleApiServer.name }}-server"
  namespace: "{{ app.simpleApiServer.namespace }}"
  labels:
    app.kubernetes.io/name: "{{ app.simpleApiServer.name }}-server"
    app.kubernetes.io/managed-by: "{{ app.simpleApiServer.name }}"
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/part-of: "{{ app.simpleApiServer.name }}"
roleRef:
  apiGroup: ""
  kind: ClusterRole
  name: "{{ app.simpleApiServer.name }}-server"
subjects:
- kind: ServiceAccount
  name: "{{ app.simpleApiServer.name }}-server"
  namespace: "{{ app.simpleApiServer.namespace }}"
  apiGroup: ""

