apiVersion: v1
kind: Service
metadata:
  name: "{{ app.simpleApiServer.name }}-server"
  namespace: "{{ app.simpleApiServer.namespace }}"
  labels:
    app.kubernetes.io/name: "{{ app.simpleApiServer.name }}-server"
    app.kubernetes.io/managed-by: "{{ app.simpleApiServer.name }}"
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/part-of: "{{ app.simpleApiServer.name }}"
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: {{ app.simpleApiServer.name }}-server
