kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ app.simpleApiServer.name }}-server"
  namespace: "{{ app.simpleApiServer.namespace }}"
  labels:
    app.kubernetes.io/name: "{{ app.simpleApiServer.name }}-server"
    app.kubernetes.io/managed-by: "{{ app.simpleApiServer.name }}"
    app.kubernetes.io/version: "0.0.1"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/part-of: "{{ app.simpleApiServer.name }}"
data:
  application-{{ release.stage|lower }}.yml: |
    server:
      port: 8080
      servlet:
        context-path: '/'
    hello:
        world: "Cheeks!"
