apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app.infrastructure.name }}-nfs-client-provisioner
  labels:
    app: {{ app.infrastructure.name }}-nfs-client-provisioner
  # this is the namespace the provisioner is deployed to.
  namespace: {{ app.infrastructure.name }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: registry.k8s.io/sig-storage/nfs-subdir-external-provisioner:v4.0.2
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            #the provisioner name to use for the provisioner.
            - name: PROVISIONER_NAME
              value: {{ app.nfs.name }}-root-provisioner
            - name: NFS_SERVER
              value: localhost
            - name: NFS_PATH
              value: /{{ app.nfs.path }}
      volumes:
        - name: nfs-client-root
          nfs:
            server: localhost
            path: /{{ app.nfs.path }}