kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ app.simpleApiServer.name }}"
  namespace: "{{ app.simpleApiServer.namespace }}"
  labels:
    app.kubernetes.io/name: "{{ app.simpleApiServer.name }}"
    app.kubernetes.io/managed-by: "{{ app.simpleApiServer.manager }}"
    app.kubernetes.io/version: "{{ app.simpleApiServer.version }}"
    app.kubernetes.io/component: "{{ app.simpleApiServer.name }}"
    app.kubernetes.io/part-of: "{{ app.simpleApiServer.name }}"
rules:
  - apiGroups: [""]
    resources: ["endpoints", "services", "pods", "deployments", "configmaps", "secrets"]
    verbs: ["get", "list", "watch"]
